{% extends "admin/base.html.twig" %}
{% block body %}
<style>
    .full-height {
        height: 100vh;
    }
</style>

<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="col-6"><a href="{{path('app_login')}}" class="btn btn-primary w-100">Go to login page</a></div>
    <div class="col-6"><a href="{{path('app_register')}}"class="btn btn-secondary w-100">Go to register page page</a></div>
</div>
{% endblock %}
