
{% extends 'admin/base.html.twig' %}

{% block title %}All Categories {% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>
        <a class="btn btn-primary" href="{{ path('admin.category.create') }}">Create Category</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories  %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-warning">Modify</a><!-- la partie id sert a specifier l'id de recette pour path car elle genere un url vers une route nomme et dans le route dans le controlleur le champ id est obligatoire -->
                    <a href="{{ path('admin.category.delete', {id: category.id}) }}" class="btn btn-danger btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const deleteLinks = document.querySelectorAll('.btn-delete');
  deleteLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
      if (!confirm('Are you sure you want to delete this category ?')) {
        event.preventDefault();
      }
    });
  });
});
</script>
{% endblock %}
